.header{

}
.logo{
    height: 10rem;
}
.title{
    user-select: none;
    background-color: bisque;
    font-size: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
}